{% extends 'Empleados/crear-cuenta.html' %}
{% load static %}
{% block titulo %}
Consulta de Registro
{% endblock  %}
{% block cuerpo %}

	<h1 class="margin-bottom-15">CONSULTA DE REGISTRO</h1>

	<div class="container contsuper">
		<div class="contenedor">
			<form method="post" class="form-control templatemo-create-account">
				{% csrf_token %}
					<div class="form-group">
						<div class="container">
							<div class="row">
								<div class="col-6 col-sm-6">
									<label for="formGroupExampleInput">CEDULA</label>
									<input required autofocus  minlength="7" maxlength="8" type="text" id="cedula" class="form-control" name="cedula" placeholder="INGRESE SU CEDULA"
									value=""> 
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
							<div class="container">
								<div class="row">
									<div class="col-12 col-sm-12">
										<input type="submit" class="btn btn-outline-danger  " value="ENVIAR"></input>
									</div>
									
								</div>
							</div>
					</div>
			</form>
		</div>
	</div>

{% endblock %}
{% block botontop %}
{% endblock %}
