{% extends 'Empleados/index.html' %}
{% load static %}
{% block titulo %}
Formulario de Registro 
{% endblock %}
{% block menu %}
 			<div id="main-nav" class="collapse navbar-collapse">
                <ul class="a nav navbar-nav navbar-right " style="margin-top: 30px; font-weight: 800;">
                  <li><a href="/home">INICIO</a></li>
                  </li>
                  <li><a href="/consultar">CONSULTAR</a></li>
				  <li><a href="{% url 'Eventos:Eventos_Lista' %}">EVENTOS</a></li>
                  {% if request.user.is_superuser %}
                    <li><a href="/admin">ADMIN</a></li>
                  {% endif %}
                  <li><a href="/logout" class="btn btn-danger" style="font-weight: 800; color: #fff;">CERRAR SESIÓN</a></li>
                </ul>
              </div>
{% endblock %}
{% block cuerpo %}
	<h1 class="margin-bottom-15">FORMULARIO DE REGISTRO</h1>

	<div class="container contsuper">
		<div class="contenedor">
			<form method="post" class="form-control templatemo-create-account" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-6 col-sm-6">
								<label for="formGroupExampleInput">CEDULA</label>
								<!-- <input required autofocus  minlength="7" maxlength="8" type="text" id="cedula" class="form-control" name="cedula" placeholder="INGRESE SU CEDULA"
								value="{{ CI }}"> -->
								{{ form.CI }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-6" >
								<label for="formGroupExampleInput">NOMBRES</label>
								<!-- <input required autofocus type="text" class="form-control" name="nombres" placeholder="NOMBRES" value="{{ Nombres }}"> -->
								{{ form.Nombres }}
							</div>
					
							<div class="col-12 col-sm-6">
								<label for="formGroupExampleInput">APELLIDOS</label>
									<!-- <input required autofocus type="text" class="form-control" name="apellidos" placeholder="APELLIDOS" value="{{ Apellidos }}"> -->
									{{ form.Apellidos }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
					
							<div class="col-12 col-sm-6">
								<label>FECHA DE NACIMIENTO</label>
									<!-- <input required  autofocus type="text" class="form-control" id="usr1" name="event_date" placeholder="DIA/MES/AÑO" autocomplete="off" value="{{ FechaNacimiento }}"> -->
									{{ form.FechaNacimiento }}
								</div>
							<div class="col-12 col-sm-6">
								<label for="formGroupExampleInput">SEXO</label>
									<!-- <select class="form-control" name="departamento" id="departamento" required autofocus value="{{  Sexo }}">
									<option value="">SELECCIONE UNA OPCION</option>
									<option value="M">MASCULINO</option>
									<option value="F">FEMENINO</option>
									</select> -->
									{{ form.Sexo }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-6" >
								 <label for="formGroupExampleInput">ID PERSONAL</label>
									 <!--
									<input required autofocus type="text" class="form-control" name="cod_trabajador" placeholder="INGRESE SU NUMERO PERSONAL" value="{{ Numero_Personal }}"> -->
									{{ form.Numero_Personal }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-6" >
								<label for="formGroupExampleInput">CARGA FAMILIAR</label>
									<!-- <input required autofocus type="text" class="form-control" name="cod_trabajador" placeholder="INGRESE EL CARGO" value="{{ Carga_Familiar }}"> -->
									{{ form.Carga_Farmiliar }}
							</div>
							<div class="col-12 col-sm-6">
								<label for="formGroupExampleInput">GERENCIA</label>
									<!-- <input required autofocus type="text" class="form-control" name="cod_trabajador" placeholder="INGRESE LA GERENCIA A LA QUE PERTENECE" value="{{ Departamento }}"> -->
									{{ form.Departamento }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-6" >
								<label for="formGroupExampleInput">CORREO</label>
									<!-- <input required autofocus type="email" class="form-control" name="cod_trabajador" placeholder="INGRESE SU CORREO" value="{{ Correo }}"> -->
									{{ form.Correo }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="alert alert-info" role="alert">
									<strong>INFORMACIÓN!</strong> Aqui debera subir una foto
								</div>
									<label for="formGroupExampleInput">Inserte Una Imagen</label>
									<!-- <input required autofocus type="file" name="avatar" value="{{ Foto }}"> -->
									{{ form.Foto }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12">
								<input type="submit" class="btn btn-outline-danger  " value="ENVIAR FORMULARIO"></input>
							</div>
							
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}