{% load static %}
<!DOCTYPE html>
<head>

	<title>INICIAR SESIÓN</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">	
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" type="text/css">

	
</head>
<body >
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-login-form-2" role="form" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<h1>INICIO DE SESIÓN</h1>
					</div>
				</div>
				<div class="row">
					<div class="templatemo-one-signin col-md-6">
				        <div class="form-group">
				          <div class="col-md-12">		          	
				            <label for="username" class="control-label">USUARIO</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-user"></i>
				            	<!-- <input type="text" class="form-control" id="username" placeholder="" value="{{ username }}">  -->
				            	{{ form.username }}
				            </div>		            		            		            
				          </div>              
				        </div>
				        <div class="form-group">
				          <div class="col-md-12">
				            <label for="password" class="control-label">CONTRASEÑA</label>
				            <div class="templatemo-input-icon-container">
				            	<i class="fa fa-lock"></i>
				
				            	<!-- <input type="password" class="form-control" id="password" placeholder="" value="{{ password }}"> -->
				            	{{ form.password }}
				            </div>
				          </div>
				        </div>
				        <!-- <div class="form-group">
				          <div class="col-md-12">
				            <div class="checkbox">
				                <label>
				                  <input type="checkbox"> RECORDAR SESIÓN
				                </label>
				            </div>
				          </div>
				        </div> -->
				        <div class="form-group">
				          <div class="col-md-12">
							<input type="submit" class="btn btn-outline-danger" value="Iniciar Sesion"></input>
							<br class="clear">
				          </div>
				        </div>
				        <!-- <div class="form-group">
				          	<div class="col-md-12">
				        		<a href="forgot-password.html" class="text-center">¿Olvidaste La Contraseña?</a>
				       	 	</div>
				    	</div> -->
					</div>
					<div class="templatemo-other-signin col-md-6">
						<img src="{% static 'img/Logo-club2.jpg' %}" width="250" height="200" alt="" style="margin-top: 20px; margin-left: 30px;">
						
					</div>   
				</div>				 	
		      </form>		      		      
		</div>
	</div>


	<footer class="footerlogin text-center">
		<p class="plogin">DERECHOS RESERVADOS &copy; 2020 CLUB KILOVATICO</p>	
	</footer>
</body>
</html>